table {
    border-collapse: collapse;
    margin-top: .7em;
    } 
  caption {
    font-size: 1.4em;
    font-weight:bold;
    }
  thead {
    background-color: #add8e6;
    font-weight:bold;
    }
  td {
    padding: .2em .7em;
    width: 8em;
    border: 1px solid grey;
    }
  tbody {
    text-align: right;
    }
  .noDisplay {
    display: none;
    }